<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <title>Обмен валют by Alexander Bobretsov</title>
</head>
<body ng-app="CurrencyConverterApp">

<div class="container" ng-controller="CurrencyController">

    <div style="text-align: center;">
        <table class="table table-striped" style="font-size: 16px; color: mintcream">
            <thead>
            <tr>
                <th scope="col" bgcolor="#1e90ff">Обменник by Alexander Bobretsov &#169 2022 год</th>
            </tr>
            </thead>
        </table>
    </div>


    <table class="table table-striped">
        <tbody>

        <tr><td style="text-align: left;">
            <select name="cur1" ng-model="selectedCur1" class="form-control" onchange="getCourse(value,'')">
                <option value="">Из валюты</option>
                <option ng-repeat="currency1 in currencyList" value="{{currency1}}">{{currency1.name}}&nbsp&nbsp&nbsp{{currency1.charcode}}</option>
            </select>
        </td></tr>
        <tr><td style="text-align: left;">
            <select name="cur2" ng-model="selectedCur2" class="form-control" onchange="getCourse('',value)">
                <option value="">В валюту</option>
                <option ng-repeat="currency2 in currencyList" value="{{currency2}}">{{currency2.name}}&nbsp&nbsp&nbsp{{currency2.charcode}}</option>
            </select>
        </td></tr>
        <tr><td>
            <div class="input-group mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Введите сумму" aria-label="Введите сумму"
                       aria-describedby="basic-addon2" onkeypress="validate()"  onkeyup="getSumExchange(value)"  id="currency1_sum" name="currency_sum">
                <div class="input-group-append">
                    <button ng-click="create()" class="btn btn-primary" type="submit">Обменять</button>
                </div>
            </div>
        </td></tr>
        <tr><td>
            Текущий курс: <data id="course_begin"></data> <data id="currency1_charcode"></data><data id="course"></data> <data id="currency2_charcode"></data><br>
            В результате обмена Вы получите: <data id="currency2_sum"></data> <data id="currency22_charcode"></data>
        </td></tr>
    </table>
    <table class="table table-striped" style="font-size: 12px;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата/ Время обмена</th>
            <th scope="col">Из валюты</th>
            <th scope="col">Сумма отправлена</th>
            <th scope="col">В валюту</th>
            <th scope="col">Сумма получена</th>
            <th scope="col">Курс обмена</th>
            <th scope="col">Статус</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tr ng-repeat="currencyhistory in currencyListHistory">
            <th scope="row" class="striped">{{currencyhistory.id}}</th>
            <td style="text-align: left;">{{currencyhistory.dateExchange}}</td>
            <td style="text-align: left;">{{currencyhistory.currency1Charcode}}</td>
            <td style="text-align: left;">{{currencyhistory.currency1Sum}}</td>
            <td style="text-align: left;">{{currencyhistory.currency2Charcode}}</td>
            <td style="text-align: left;">{{currencyhistory.currency2Sum}}</td>
            <td style="text-align: left;">{{currencyhistory.course}}</td>
            <td style="text-align: left;">{{currencyhistory.statusExchange}}</td>
            <td style="text-align: left;">
                <button ng-click="delete(currencyhistory)" type="submit" class="btn btn-outline-danger" style="font-size: 12px;">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="js/app.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>